.logo {
  width: 250px;
}

.cf1f8fc {
  background-color: #f1f8fc;
}
.c0074c7 {
  background-color: #0074c7;
}
.c00497c {
  background-color: #00497c;
}
.c384050 {
  background-color: #384050;
}
.ccd2c2e {
  background-color: #cd2c2e;
}
.c82b864 {
  background-color: #82b864;
}
