<div class="bg-footer text-Light pt-5 ps-5">
  <div class=""><img src="footerlogo.png" alt="logo2" /></div>
  <div class="py-6 mt-3">
    <div class="row">
      <div class="ps-4 col-md-3">
        Conseil régional <br />
        Auvergne-Rhône-Alpes
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3">
        <p><b>LYON</b></p>
        101 cours Charlemagne <br />
        <p>
          CS 20033 <br />
          69269 LYON CEDEX 02 <br />
          France +33 (0)4 26 73 40 00
        </p>
      </div>
    </div>
  </div>

  <div class="borderlinks mx-5 mt-5 text-center py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="text-footer list-inline">
            <li class="list-inline-item">
              <a href="mentions-legales.html" class="text-Light"
                >Mentions Légales</a
              >
            </li>
            <li class="list-inline-item">
              <a href="donnees-personnelles.html" class="text-Light"
                >Données Personnelles</a
              >
            </li>
            <li class="list-inline-item">
              <a href="accessibilite.html" class="text-Light">Accessibilité</a>
            </li>
            <li class="list-inline-item">
              <a href="cookies.html" class="text-Light">Cookies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light text-dark text-center py-3">
  <div class="container">
    <div class="d-flex justify-content-center">
      <a href="https://www.facebook.com" class="text-dark mx-2">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com" class="text-dark mx-2">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="https://www.youtube.com" class="text-dark mx-2">
        <i class="fab fa-youtube fa-2x"></i>
      </a>
      <a href="https://www.instagram.com" class="text-dark mx-2">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.twitter.com" class="text-dark mx-2">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </div>
  </div>
</div>
